body{
    background-color: lightblue;
    background-size: 1px;
}
text{
    color: black;
    text-align: center;
    size: 12px;
}
h1{
    color:black;
    text-align:center;
   }
h2{
    color: black;
    text-align: left;
}
h3{
    color: black;
    text-align: left;
}
h4{
    color: black;
    text-align: left;
}
h5{
    color: black;
    text-align: left;
}
h6{
    color: black;
    text-align: left;
}
button{
    background-color: whitesmoke;
    color: black;
    border-radius: 10px; /* rounded corners */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: whitesmoke;
    transition: 0.5s;
}